<!doctype html>
<html>
  <head>
      <link rel="stylesheet" href="{{ url_for('static',filename='styles/css.css') }}">
    <title>This is the title of the webpage!</title>
  </head>
  <body>
  <div id="mySidenav" class="sidenav" style="width:70px">
      <a class="closebtn" onclick="closeNav()">X</a>
      <a href="/">Hej</i></a>
      <a href="/charts">Tjo</i></a>
      <a href="/map">Yo</i></a>
      <a href="/about">Smuts</i></a>
    </div>
  <span style="font-size:30px;cursor:pointer"
        onclick="openNav()">☰</span>
  <div id="maintwo"></div>
  <script>
    function myFunction(){
      var seconds = 0;
      var el = document.getElementById('seconds-counter');

    function incrementSeconds() {
      seconds += 1;
      el.innerText = seconds;
}

var cancel = setInterval(incrementSeconds, 1000);
}
    function stop(){
      var seconds = "--.--";
      var el = document.getElementById('seconds-counter');
      el.innerText = seconds;
      }

      function openNav() {
    document.getElementById("mySidenav").style.width = "500px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
  </script>
  <form method ="post" action="/count" form class="grid">
    <button type="button" class="button" name="start" onclick="myFunction()">Start</button>
    <button type="button" class="button1" onclick="stop()">Stop</button>
    <button type="button" class="button2">Setup</button>
  </form>
    <p>This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>
    <div class="diameter">
      <ul>
       <div></div>
        <li><div id='seconds-counter'></div></li>
      </ul>
    </div>
  </body>
</html>